<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add Product</title>
	<link rel="stylesheet" type="text/css" href="../Css/mycss.css">
	<link rel="stylesheet" type="text/css" href="../Css/form.css">
	<link rel="stylesheet" type="text/css" href="../Css/style.css">
</head>
<body>
	<div class="block content margin-auto">
		<header>
			<h1>STORE PROJECT</h1>
			<h3>ADMIN</h3>
			<div class="set-right">
				<a href="#"><button class="ease-in-out-all-quick"><img src=""><span>Settings</span></button></a>
				<a href="#"><button class="ease-in-out-all-quick"><img src=""><span>Logout</span></button></a>
			</div>
		</header>
		
		<!-- div containing diffent menu the 1/4 of the site -->
		<div class="inline-block quater  centered grid left">
			<!-- list containing my menu  -->
			<ul class="menu align-left">
				<a  href="adminAvailableProduct.html" class="block item ease-in-out-all-quick" ><li id="menu-products">Available Products</li></a>
				<a href="usershistory.html" class="block item ease-in-out-all-quick"><li id="menu-usershistory">Purshase history</li></a>
				<a href="adduser.html" class="block item ease-in-out-all-quick"><li id="menu-adduser">Add user</li></a>
				<a href="managerUser.html" class="block item ease-in-out-all-quick"><li id="menu-manager">Add admin rights</li></a>
				<a href="addProduct.html" class="block item ease-in-out-all-quick"><li id="menu-addItem">Add Item</li></a>
				<a href="editProduct.html" class="block item ease-in-out-all-quick"><li id="menu-editItem">Edit Item</li></a>
				<a href="deleteProduct.html" class="block item ease-in-out-all-quick"><li id="menu-addItem">Delete Item</li></a>
			</ul>
			<!-- end of the menu -->

			<!-- menu containing availble product -->
		</div><div class="inline-block third-quarter centered grid right">

			<!-- div to add an item -->
			<div class="block box align-left ease-in-out-allsss" id="addItem">
				<div class="title">
					Add an Item
				</div>
				<hr class="soften">
				<form class="form signup ease-in-out-all left"  id="signup" method="post" action="dashboard.html">
					<div class="block inputs">
						<label class="tag" for="itemName">Item name: </label>
						<input type="text"  class="ease-in-out-all" name="name" id="itemName" placeholder="Enter item name here">
					</div>
					<div class="block inputs">
						<label class="tag" for="itemPrice">Item price: </label>
						<input type="text"  class="ease-in-out-all"  name="phone" id="itemPrice" placeholder="Enter the price... Eg: Ugx4..">
					</div>
					<div class="block inputs">
						<label class="tag" for="addCategorie">Categorie: </label>
						<select class="category inline-block ease-in-out-all-quick" id="addCategorie">
							<option>Category</option>
							<option>Electronics</option>
							<option>Clothes</option>
						</select>
					</div>
					<div class="block inputs">
						<label class="tag" for="fileupload"> Select an Image :</label>
						<input class="ease-in-out-all tag" type="file" name="fileupload" value="fileupload" id="fileupload">
					</div>
					<div class="block inputs ease-in-out-all">
						<input type="submit" name="submit" value="Add an item">
					</div>	
			</div>
			<!-- end of add item -->	
		</div>
			<!-- end of the div containing the 3/4 of the site -->

	</div>
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/script.js"></script>
</body>
</html>
