<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Available Product</title>
	<link rel="stylesheet" type="text/css" href="../Css/mycss.css">
	<link rel="stylesheet" type="text/css" href="../Css/form.css">
	<link rel="stylesheet" type="text/css" href="../Css/style.css">
</head>
<body>
	<div class="block content margin-auto">
		<header>
			<h1>STORE PROJECT</h1>
			<h3>ADMIN</h3>
			<div class="set-right">
				<a href="#"><button class="ease-in-out-all-quick"><img src=""><span>Settings</span></button></a>
				<a href="#"><button class="ease-in-out-all-quick"><img src=""><span>Logout</span></button></a>
			</div>
		</header>
		
		<!-- div containing diffent menu the 1/4 of the site -->
		<!-- div containing diffent menu the 1/4 of the site -->
		<div class="inline-block quater  centered grid left">
			<!-- list containing my menu  -->
			<ul class="menu align-left">
				<a  href="adminAvailableProduct.html" class="block item ease-in-out-all-quick" ><li id="menu-products">Available Products</li></a>
				<a href="usershistory.html" class="block item ease-in-out-all-quick"><li id="menu-usershistory">Purshase history</li></a>
				<a href="adduser.html" class="block item ease-in-out-all-quick"><li id="menu-adduser">Add user</li></a>
				<a href="managerUser.html" class="block item ease-in-out-all-quick"><li id="menu-manager">Add admin rights</li></a>
				<a href="addProduct.html" class="block item ease-in-out-all-quick"><li id="menu-addItem">Add Item</li></a>
				<a href="editProduct.html" class="block item ease-in-out-all-quick"><li id="menu-editItem">Edit Item</li></a>
				<a href="deleteProduct.html" class="block item ease-in-out-all-quick"><li id="menu-addItem">Delete Item</li></a>
			</ul>
			<!-- end of the menu -->

			<!-- div containing categories in a list menu -->
			<div class="categories-title align-left">Categories :</div>
			<ul class="menu align-left categories">
				<li class="block category ease-in-out-all-quick">Electronics</li>
				<li class="block category ease-in-out-all-quick">Fashion</li>
				<li class="block category ease-in-out-all-quick">Food</li>
			</ul>
			<!-- end of the item/prduct categories -->
		</div><div class="inline-block third-quarter centered grid right"><!-- 3/4 div of the site -->
			<!-- search div of the site -->
			<div class="block banner align-left ease-in-out-all-quick" id="banner">
				<form class="search flex">
					<input class="inline-block ease-in-out-all-quick" type="search" name="search" id="search" placeholder="Search here ..."><input  class="inline-block ease-in-out-all-quick" type="submit" value="search">
					<select class="category inlin<!-- end of the categories -->e-block ease-in-out-all-quick">
						<option>Category</option>
						<option>Electronics</option>
						<option>Clothes</option>
					</select>
					<select class="category inline-block ease-in-out-all-quick">
						<option>Order by:</option>
						<option>Lowest price</option>
						<option>Highest price</option>
					</select>
				</form>
			</div>
			<!-- end of the search div of the site -->

			<!-- div containing different product and the grid display-->
			<div class="block box align-left" id="products">
				<div class="title">
					Available products
					<div class="results centered">234</div>
				</div>
				<hr class="soften">
				<ul class="products block align-left">
					<li class="product inline-block align-left ease-in-out-all-quick">
						<div class="block product-image ease-in-out-all-quick">
							<img src="../img/store1.jpg" class="ease-in-out-all-quick">
						</div>
						<div class="block product-actions centered ease-in-out-all-quick">
							<div class="price ease-in-out-all-quick">Ugx40 000</div>
							<div class="stock ease-in-out-all-quick">345 in stock</div>
						</div>
					</li><li class="product inline-block align-left ease-in-out-all-quick">
						<div class="block product-image ease-in-out-all-quick">
							<img src="../img/store1.jpg" class="ease-in-out-all-quick">
						</div>
						<div class="block product-actions centered ease-in-out-all-quick">
							<div class="price ease-in-out-all-quick">Ugx40 000</div>
							<div class="stock ease-in-out-all-quick">345 in stock</div>
						</div>
					</li><li class="product inline-block align-left ease-in-out-all-quick">
						<div class="block product-image ease-in-out-all-quick">
							<img src="../img/store1.jpg" class="ease-in-out-all-quick">
						</div>
						<div class="block product-actions centered ease-in-out-all-quick">
							<div class="price ease-in-out-all-quick">Ugx40 000</div>
							<div class="stock ease-in-out-all-quick">345 in stock</div>
						</div>
					</li><li class="product inline-block align-left ease-in-out-all-quick">
						<div class="block product-image ease-in-out-all-quick">
							<img src="../img/store1.jpg" class="ease-in-out-all-quick">
						</div>
						<div class="block product-actions centered ease-in-out-all-quick">
							<div class="price ease-in-out-all-quick">Ugx40 000</div>
							<div class="stock ease-in-out-all-quick">345 in stock</div>
						</div>
					</li><li class="product inline-block align-left ease-in-out-all-quick">
						<div class="block product-image ease-in-out-all-quick">
							<img src="../img/store1.jpg" class="ease-in-out-all-quick">
						</div>
						<div class="block product-actions centered ease-in-out-all-quick">
							<div class="price ease-in-out-all-quick">Ugx40 000</div>
							<div class="stock ease-in-out-all-quick">345 in stock</div>
						</div>
					</li><li class="product inline-block align-left ease-in-out-all-quick">
						<div class="block product-image ease-in-out-all-quick">
							<img src="../img/store1.jpg" class="ease-in-out-all-quick">
						</div>
						<div class="block product-actions centered ease-in-out-all-quick">
							<div class="price ease-in-out-all-quick">Ugx40 000</div>
							<div class="stock ease-in-out-all-quick">345 in stock</div>
						</div>
					</li><li class="product inline-block align-left ease-in-out-all-quick">
						<div class="block product-image ease-in-out-all-quick">
							<img src="../img/store1.jpg" class="ease-in-out-all-quick">
						</div>
						<div class="block product-actions centered ease-in-out-all-quick">
							<div class="price ease-in-out-all-quick">Ugx40 000</div>
							<div class="stock ease-in-out-all-quick">345 in stock</div>
						</div>
					</li><li class="product inline-block align-left ease-in-out-all-quick">
						<div class="block product-image ease-in-out-all-quick">
							<img src="../img/store1.jpg" class="ease-in-out-all-quick">
						</div>
						<div class="block product-actions centered ease-in-out-all-quick">
							<div class="price ease-in-out-all-quick">Ugx40 000</div>
							<div class="stock ease-in-out-all-quick">345 in stock</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- end of the div containing different product and the grid display-->
		</div>
		<!-- end of the 3/4 div of the site -->
	</div>
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/script.js"></script>
</body>
</html>