<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Delete Product</title>
	<link rel="stylesheet" type="text/css" href="../Css/mycss.css">
	<link rel="stylesheet" type="text/css" href="../Css/form.css">
	<link rel="stylesheet" type="text/css" href="../Css/style.css">
</head>
<body>
	<div class="block content margin-auto">
		<header>
			<h1>STORE PROJECT</h1>
			<h3>ADMIN</h3>
			<div class="set-right">
				<a href="#"><button class="ease-in-out-all-quick"><img src=""><span>Settings</span></button></a>
				<a href="#"><button class="ease-in-out-all-quick"><img src=""><span>Logout</span></button></a>
			</div>
		</header>
		
		<!-- div containing diffent menu the 1/4 of the site -->
		<div class="inline-block quater  centered grid left">
			<!-- list containing my menu  -->
			<ul class="menu align-left">
				<a  href="adminAvailableProduct.html" class="block item ease-in-out-all-quick" ><li id="menu-products">Available Products</li></a>
				<a href="usershistory.html" class="block item ease-in-out-all-quick"><li id="menu-usershistory">Purshase history</li></a>
				<a href="adduser.html" class="block item ease-in-out-all-quick"><li id="menu-adduser">Add user</li></a>
				<a href="managerUser.html" class="block item ease-in-out-all-quick"><li id="menu-manager">Add admin rights</li></a>
				<a href="addProduct.html" class="block item ease-in-out-all-quick"><li id="menu-addItem">Add Item</li></a>
				<a href="editProduct.html" class="block item ease-in-out-all-quick"><li id="menu-editItem">Edit Item</li></a>
				<a href="deleteProduct.html" class="block item ease-in-out-all-quick"><li id="menu-addItem">Delete Item</li></a>
			</ul>
			<!-- end of the menu -->

			<!-- menu containing availble product -->
		</div><div class="inline-block third-quarter centered grid right">
			<!-- search div of the site -->
			<div class="block banner align-left ease-in-out-all-quick" id="banner">
				<form class="search flex">
					<input class="inline-block ease-in-out-all-quick" type="search" name="search" id="search" placeholder="Search here ..."><input  class="inline-block ease-in-out-all-quick" type="submit" value="search">
					<select class="category inline-block ease-in-out-all-quick">
						<option>Category</option>
						<option>Electronics</option>
						<option>Clothes</option>
					</select>
					<select class="category inline-block ease-in-out-all-quick">
						<option>Order by:</option>
						<option>Lowest price</option>
						<option>Highest price</option>
					</select>
				</form>
			</div>
			<!-- end of the search div -->	

			<!-- div to delete an item in the store -->
			<div class="block box align-left ease-in-out-all" id="deleteItem">
				<div class="title">
					Delete Product
				</div>
				<table class="cart align-left">
					<thead>
						<tr class="centered">
							<td class="centered">No</td>
							<td class="centered">Image</td>
							<td class="centered">Description</td>
							<td class="centered">Action</td>
						</tr>
					</thead>
					<tbody>
						<tr class="centered cart-article">
							<td class="centered">01</td>
							<td class="centered">
								<div class="img centered">
									<img src="../img/store1.jpg">
								</div>
							</td>
							<td class="centered">
								<div class="cart-price">Ugx40 000</div>
								<div>Quantity: 3</div>
								<div> Since 3hours</div>
							</td>
							<td class="centered">
								<button class="block remove-item"> <span>-</span> Delete Item</button>
							</td>
						</tr>
						<tr class="centered cart-article">
							<td class="centered">01</td>
							<td class="centered">
								<div class="img centered">
									<img src="../img/store1.jpg">
								</div>
							</td>
							<td class="centered">
								<div class="cart-price">Ugx40 000</div>
								<div>Quantity: 3</div>
								<div> Since 3hours</div>
							</td>
							<td class="centered">
								<button class="block remove-item"> <span>-</span> Delete Item</button>
							</td>
						</tr>
						<tr class="centered cart-article">
							<td class="centered">01</td>
							<td class="centered">
								<div class="img centered">
									<img src="../img/store1.jpg">
								</div>
							</td>
							<td class="centered">
								<div class="cart-price">Ugx40 000</div>
								<div>Quantity: 3</div>
								<div> Since 3hours</div>
							</td>
							<td class="centered">
								<button class="block remove-item"> <span>-</span> Delete Item</button>
							</td>
						</tr>
						<tr class="centered cart-article">
							<td class="centered">01</td>
							<td class="centered">
								<div class="img centered">
									<img src="../img/store1.jpg">
								</div>
							</td>
							<td class="centered">
								<div class="cart-price">Ugx40 000</div>
								<div>Quantity: 3</div>
								<div> Since 3hours</div>
							</td>
							<td class="centered">
								<button class="block remove-item"> <span>-</span> Delete Item</button>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- end of the table -->
				<button class="pay-all">Delete all items</button>
			</div>
			<!-- end of the manager div -->

		</div>
			<!-- end of the div containing the 3/4 of the site -->

	</div>
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/script.js"></script>
</body>
</html>
