<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="../Css/mycss.css">
	<link rel="stylesheet" type="text/css" href="../Css/form.css">
	<link rel="stylesheet" type="text/css" href="../Css/style.css">
</head>
<body>
	<div class="block content margin-auto">
		<header>
			<h1>STORE PROJECT</h1>
		</header>
		<!-- div containing diffent menu the 2/4 of the site -->
		<div class="inline-block half  centered grid left">
			<h2>WELCOME TO OUR STORE</h2>
			<span class="margin-auto wlcm-img">
				<img src="../img/store1.jpg">
			</span>
		</div><!-- end of the half of the site --><!-- div containing login and the 2/4 of the site --><div class="inline-block half centered grid right">
			<div class="block">
				<h1>LOGIN</h1>
			</div>
			<form class="form login ease-in-out-all" method="post" id="login" action="dashboard.html" onsubmit="return(login.validate())">
				<div class="block inputs align-left alert">
					<span class="text-red align-left" id="alert-login"></span>
				</div>
				<div class="block inputs">
					<label class="tag" for="email">Email: </label>
					<input type="email" class="ease-in-out-all" name="email" id="email" placeholder="Enter your email"  cmd-input="validate=>email">
				</div>
				<div class="block inputs">
					<label class="tag" for="password">Password: </label>
					<input type="password"  class="ease-in-out-all"  name="password" id="password" placeholder="Enter your password"  cmd-input="validate=>password">
				</div>
				<div class="block inputs align-left remember">
					<label class="remember" for="remember">Stay conneted?</label>
					<input type="checkbox"  class="ease-in-out-all" name="remember" id="remember" checked>
				</div>
				<div class="block inputs">
					<input type="submit"  class="ease-in-out-all"  value="Sign-in" cmd-click="submit=>login">
				</div>
				<div class="block inputs">
					<span class="recover ease-in-out-all">Forgot your password?</span><span class="stroke">&nbsp&nbsp|&nbsp&nbsp</span><span class="ease-in-out-all help">Help?</span>
				</div>
			</form>
		</div>
		<!-- end of the div containing login and the 2/4 of the site -->
	</div>
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/script.js"></script>
</body>
</html>